.footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
}
.footer p{
    width: 17%;
    background-color: #1a73e8;
    border:2px solid #004aff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.footer select{
    width: 40%;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    background-color: #a3a5a9;
    outline: none;
}
@media (max-width: 570px) {
    .footer p{
        width: 150px;
        margin-left: 1rem;
    }
    .footer select{
        width: 200px;
    }
}